.item-palette--o {
  display: grid; 
  &.gap-big {
    grid-gap: 4rem;
  }
  &.gap-middle {
    grid-gap: 2rem;
  }
  &.gap-small {
    grid-gap: 1rem;
  }
  &.columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &.columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.columns-2 {
    grid-template-columns: 1fr 1fr;
  }
}