.preview-card--m {
  padding: 2rem;
  background-color: $gray-1;
  transition: 0.3s;
  cursor: pointer;
  .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      transition: 0.3s;
    }
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
    
    // box-shadow: $main-shadow;
  }
}