.slider-card--m {
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    flex: 1;
  }
  .img-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .content {
    padding-left: 4rem;
    .text--a {
      margin-bottom: 3rem;
    }
    .title--a {
      margin-bottom: 2rem;
    }
  }
}