.info-block--m {
  .des {
    margin-top: 2.1rem;
  }
  .btns {
    margin-top: 2.7rem;
    .btn--e {
      &:first-child { margin-bottom: 1rem; }
    }
  }
  .text-center {
    text-align: center;
  }
}