.tabs-module--m {
  > .btns {
    margin-bottom: 4rem;
    display: flex;
    margin: -1rem;
    margin-bottom: 3rem;
    .btn--e {
      display: flex;
      flex: 1;
      justify-content: center;
      margin: 1rem;
    }
  }
  .content {
    .info-block--m {
      margin-right: 3rem;
    }
    > div, img {
      width: 50%;
    }
  }
}