.title--a {
  line-height: 1.2;
  font-family: $font-light;
  letter-spacing: 0;
  font-weight: lighter;
  &.big {
    font-size: 6rem;
  }
  &.big-m {
    font-size: 5rem;
  }
  &.xs {
    font-size: 1rem;
  }
  &.small {
    font-size: 3.4rem;
  }
  &.s {
    font-size: 1.7rem;
  }
}