.main-footer--a {
  .container--m {
    .about {
      flex: 2;
      margin-right: 5rem;
    }
    .newsletter {
      flex: 1.5;
      margin-right: 5rem;
    }
    .follow {
      a {
        margin-right: 1rem;
      }
    }
  }
}