.badge--a {
  font-weight: bold;
  font-size: 0.7rem;
  display: flex;
  &.circle {
    width: 1rem;
    height: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  &.red {
    background-color: $red-1;
    color: white;
  }
}