.section-partners--t {
  .container--t {
    align-items: center;
    .title--a, > div {
      flex: 1;
    }
    .palette {
      // width: 50%;
      display: flex;
      flex-wrap: wrap;
      margin: 0% -2%;
      margin-left: 4rem;
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3% 2%;
        width: 29%;
        // padding: 1rem;
        // flex: 1 0 0;
        img {
          width: 55%;
        }
      }
    }
  }
}