.section-article-4--t {
  .title-box--m {
    margin-right: 0;
    margin-left: 0;
    padding-right: 4rem;
  }
  .card--m {
    margin-left: 0;
    width: 55%;
    
  }
  .icon-digit--m {
    margin-right: 4rem;
  }
  .article-box--o.reverse .card--m {
    margin-left: 0;
  }
}