.section-article-4--t {
  margin-bottom: 290px;
  .title-box--m {
    margin-right: 0;
    margin-left: 0;
    padding-right: 4rem;
  }
  .card--m {
    margin-left: 0;
    width: 55%;
    position: relative;
    
  }
  .icon-digit--m {
    margin-right: 4rem;
  }
  .article-box--o.reverse .card--m {
    margin-left: 0;
  }
  .square-box--m {
    position: absolute;
    bottom: -290px;
    left: -290px;
    
  }
}