.section-title-photo--t {
  .container--t {
    align-items: flex-start;
    position: relative;
  }
  img {
    position: relative;
    position: absolute;
    top: -27rem;
  }
  .title--a {
    margin-left: auto;
    width: 50%;
  }
}