
@font-face {
  font-family: "UniversBold";
  src: url("/assets/fonts/univers/univers-bold.ttf") format('truetype');
}
@font-face {
  font-family: "UniversMedium";
  src: url("/assets/fonts/univers/univers-medium.ttf") format('truetype');
}