
@font-face {
  font-family: "UniversBold";
  src: url("/assets/fonts/univers/univers-bold.ttf") format('truetype');
}
@font-face {
  font-family: "UniversMedium";
  src: url("/assets/fonts/univers/univers-medium.ttf") format('truetype');
}
@font-face {
  font-family: "UniversLight";
  src: url("/assets/fonts/univers/univers-light.ttf") format('truetype');
}
@font-face {
  font-family: "BebasNeue-Bold";
  src: url("/assets/fonts/BebasNeue/BebasNeue-Bold.ttf") format('truetype');
}