$mainFont                : 'UniversBold', sans-serif;
$font-medium             : 'UniversMedium', sans-serif;
$font-light              : 'UniversLight', sans-serif;
$bebas                   : 'BebasNeue-Bold', sans-serif;

$mainSectionGrad         : linear-gradient(to right, rgba(77,171,255,1) 0%, rgba(97,220,255,1) 100%);

$mainFontColor           : #1d1d1d;
$mainFontSize            : 15px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.7;

$desktopWidth            : 1280px;
$tabletWidth             : 1024px;
$smTabletWidth           : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Colors
$white                   : #fff;
$gray-1                  : #898989;
$gray-2                  : #565656;
$gray-3                  : #383838;
$dark-gray               : #1d1d1d;
$light-gray-1            : #f3f3f3;
$light-gray-2            : rgba(86,86,86,0.45);
$light-brown             : #f7f3ec;
$brown                   : #ad7d2b; 
$brown-2                 : #7d6953; 
$yellow                  : #ddac58;


// $colors: white, $gray-1, $light-gray-1, $light-gray-2, $light-blue-1, $blue-1;
$colors                  : () !default;
$colors                  : map-merge(
  (
    main                 : $mainFontColor,
    white                : white,
    gray-1               : $gray-1,
    gray-2               : $gray-2,
    dark-gray            : $dark-gray,
    light-gray-1         : $light-gray-1,
    light-gray-2         : $light-gray-2,
    light-brown          : $light-brown,
    brown                : $brown,
    brown-2              : $brown-2,
    yellow               : $yellow
  ),
  $colors
);



$main-shadow: 0px 10px 45px -16px rgba(194,194,194,1);
$box-shadow-1: 0 25px 200px 20px rgba(0,0,0,0.3);
$box-shadow-2: 0 44px 110px 0 rgba(0,0,0,0.08);
// $main-shadow: 0px 10px 45px -23px rgba(117,117,117,1);



$spacer                  : 1rem !default;
$spacers                 : () !default;

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    l: ($spacer *10),
    xl: ($spacer * 12),
    xxl: ($spacer * 13),
    xxxl: ($spacer * 13)
  ),
  $spacers
);

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
