.icon--a {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  > .badge--a {
    position: absolute;
    right: -0.1rem;
    bottom: -0.1rem;
  }
  &.big {
    font-size: 1.3rem;
    width: 2.5rem;
    i {
      font-size: 1.1rem;
    }
    height: 2.5rem;
  }
  &.red {
    color: $red-1;
  }
  &.white-bg {
    background-color: #fff;
  }
  &.clickable {
    cursor: pointer;
    i {
      transition: opacity 0.3s;
    }
    &:hover {
      i {
        opacity: 0.7;
      }
    }
  }
}