.link--a {
  color: $gray-3;
  &:hover, &.active {
    color: $mainFontColor;
  }
  &.black {
    color: $mainFontColor;
  }
  &.red {
    color: $red-1;
    &:hover, &.active {
      color: $red-1;
    }
  }
  &.bold {
    font-weight: bold;
  }
  &.hover-underline {
    &:hover {
      text-decoration: underline;
    }
  }
  &.hover-red {
    &:hover {
      color: $red-1;
    }
  }
}